/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#root {
  /* height: 100vh; */
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;

}

img.ui.medium.image {
    margin: auto;
}

/* .ui.button, .ui.buttons .butto */
button.ui.large.fluid.button {
  background-color:#68C3D4;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
/* 
html {
  font-size: 16px;
} */

.ui[class*="three column"].grid>.column:not(.row), .ui[class*="three column"].grid>.row>.column {
  width: auto!important;
}

.ui[class*="center aligned"].grid {
  justify-content: center;
  padding-bottom: 6rem;
}

p {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-style: initial;
}

/* h1.ui.center.aligned.header {
  font-family: sans-serif;
  color: #AE76A6;
} */

/* h3.ui.center.aligned.header {
  color: #AE76A6;
} */

li {
  padding: 0.5rem;
}

.city-dropdown.ui.dropdown .menu>.item:first-child {
  font-size: medium;
}

.ui.dropdown.city-dropdown>.text {
  display: inline-block;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 1rem;
}

.city-dropdown.ui.dropdown .menu {
  padding-left: 1rem;
  padding-right: 4rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background: #F7F0F0;
  font-size: 2em;
  text-shadow: none;
  text-align: left;
  /* box-shadow: 0 2px 3px 0 rgba(34,36,38,.15); */
  border: 2px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  /* transition: opacity .1s ease; */
  z-index: 11;
  will-change: transform,opacity;
}

.home-segment{
  background-image: url('/BackgroundImage.jpg')!important;
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* overflow-x: hidden */
  padding: 10px;
}